.navbar {
  background: #3bb1dd;
}
.navbar-nav {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  color: #fff;
  align-items: center;
}
.logo-icon {
  display: flex;
  align-items: center;
}
.logo-text {
  font-size: 32px;
  font-weight: 700;
}
.links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.links li {
  list-style-type: none;
}
.links li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
